<a href="https://colab.research.google.com/github/PtmCn/Python101/blob/main/Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
total = float(input('Enter price with vat:'))
tax = str((total/107)*7)
print ('vat is '+ tax + ' baht.')

Enter price with vat:347.75
vat is 22.75 baht.

In [38]:
import math
price = float(input('Enter price:'))
sellPrice = math.ceil(price *1.07)
print('Selling price is '+ str(sellPrice) +' bath.')

Enter price:350
Selling price is 375 bath.

In [48]:
import math
radius,length = (input('Enter radius and length of side:').split())
radius = float(radius)
length = float(length)
print ('The circle is larger than this square: '+str((math.pi*radius**2)>length**2))

Enter radius and length of side:2.5 4.1
The circle is larger than this square: True

In [55]:
name,months = (input('Enter name and no. of months:').split())
months = int(months)
year = months//12
monthsleft = months%12
print(name +' has used this product for '+str(year) +' years and '+str(monthsleft)+' months.')

Enter name and no. of months:Tom 42
Tom has used this product for 3 years and 6 months.